<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <!-- including the partials syntax -->
        <%- include('_header'); %>
        <h1> this is vconnect/ <%= title %></h1>

        <%- include('_footer'); %>

    </body>
</html>