
<!-- adding specific styles to specific pages -->

<link rel="stylesheet" href="/css/user_profile.css"
<h1>Vconnect!! / <%=title %></h1>


<!-- addding views i.e profile info of user to the page -->

<p><%= user.name  %></p>
<p><%= user.email  %></p>