<h1>sign in</h1>
<!-- ans action is use to get data from the this -->
<form action="/users/create-session" method="POST">

    
    <input type ="email" name = "email" placeholder="your email" required>
    <input type= "password" name = "password" required placeholder="password">
    <input type ="submit" value ="sign In">

</form>